<div class="container mt-3">
    <a href="/cookie/add" class="btn btn-primary">Add Cookie</a>
    <button class="btn btn-primary" type="button" id="invite">
        Mời thành viên
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" style="display: none;"></span>
    </button>
    <h2>Danh Sách Cookies</h2>

    {{#if error}}
    <div class="alert alert-danger">{{error}}</div>
    {{/if}}
    {{#if success}}
    <div class="alert alert-success">Cookie created successfully!</div>
    {{/if}}
    <div class="table-responsive-lg">
        <table class="table table-bordered" id="main">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Email</th>
                    <th>Value</th>
                    <th>Time Created</th>
                    <th>Time Updated</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {{#each cookies}}
                <tr>
                    <td>{{this.id}}</td>
                    <td>{{this.email}}</td>
                    <td class="truncate">{{this.value}}</td>
                    <td>{{this.createdAt}}</td>
                    <td>{{this.updatedAt}}</td>
                    <td>
                        <a href="/cookie/{{this.id}}/edit" class="btn btn-primary">Edit</a>
                        <a href="/cookie/{{this.id}}/delete" class="btn btn-danger">Delete</a>
                    </td>
                </tr>

                {{/each}}
            </tbody>
        </table>
    </div>
</div>
<!-- DataTables -->